<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</title>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" type="text/js" href="{{ url_for('static', filename='laz.js') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
<script src="{{ url_for('static', filename='js/laz.js') }}" defer></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var loginButton = document.getElementById("loginButton");
      loginButton.addEventListener("click", function() {
          window.location.href = "/login";  // Navigate to /login route
      });
  });
</script>
</head>
<body>
    <header>
        <nav class="nav">
            <i class="uil uil-bars navOpenBtn"></i>
            <a href="#" class="logo">LAZ NUTRITION.</a>
            <ul class="nav-links">
              <i class="uil uil-times navCloseBtn"></i>
              {% if user.is_authenticated %}
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('shop') }}">Products</a></li>
              <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
              <li><a href="{{ url_for('cart') }}">Cart</a></li>
              <button class="login" id="loginButton"><a href="{{ url_for('logout') }}">logout</a></button>
              {% else %}
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('shop') }}">Products</a></li>
              <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
              <button class="login" id="loginButton">Log In</button>
              {% endif %}
            </div>
            <div class="bag">
              <i class='bx bx-shopping-bag'></i>
            </div>
            </ul>
            <i class="uil uil-search search-icon" id="searchIcon"></i>
            <div class="search-box">
              <i class="uil uil-search search-icon"></i>
              <input type="text" placeholder="Search here..." />
              
            
          </nav>
    </header>
    
    <div class="cart-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
        <h1>Your Cart</h1>
        {% if cart_items %}
            <ul class="cart-items">
                {% for item in cart_items %}
                    <li>
                        <img src="{{ item.product_image }}" alt="{{ item.product_name }}">
                        <div>
                            <h2>{{ item.product_name }}</h2>
                            <p>Price: {{ item.product_price }} DT</p>
                            <form action="{{ url_for('remove_from_cart', item_id=item.id) }}" method="POST">
                                <button type="submit" class="remove-button">Remove</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
        <h2>Total Price: {{ total_price }}</h2>
        <form action="{{ url_for('process_payment') }}" method="POST">
            <button class="sum" type="submit">Proceed to Payment</button>
    </div>
    
</body>

</html>