<!DOCTYPE html>
<html>
<head>
    <title>shop
    </title>
    <link rel="stylesheet" href="laz.html">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/VITAMIN.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/laz.js') }}" defer></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var loginButton = document.getElementById("loginButton");
          loginButton.addEventListener("click", function() {
              window.location.href = "/login";  // Navigate to /login route
          });
      });
  </script>
</head>
<body>
    <header>
      <nav class="nav">
        <i class="uil uil-bars navOpenBtn"></i>
        <a href="#" class="logo">LAZ NUTRITION.</a>
        <ul class="nav-links">
          <i class="uil uil-times navCloseBtn"></i>
          {% if user.is_authenticated %}
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('shop') }}">Products</a></li>
          <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
          <li><a href="{{ url_for('cart') }}">Cart</a></li>
          <button class="login" id="loginButton"><a href="{{ url_for('logout') }}">logout</a></button>
          {% else %}
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('shop') }}">Products</a></li>
          <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
          <li><a href="{{ url_for('cart') }}">Cart</a></li>
          <button class="login" id="loginButton">Log In</button>
          {% endif %}
        </div>
        <div class="bag">
          <i class='bx bx-shopping-bag'></i>
        </div>
        </ul>
        <i class="uil uil-search search-icon" id="searchIcon"></i>
        <div class="search-box">
          <i class="uil uil-search search-icon"></i>
          <input type="text" placeholder="Search here..." />
          
        
      </nav>
    </header>
    
    <div class="h">
        <h1>VITAMIN/AMINO</h1>
    </div>
    
    <div class="products">
        <div>
            <a>
                <img src="{{ url_for('static', filename='p/vitamin.png') }}" alt="whey Protein 1">
                <h1>VITAMINS</h1>
                <h1>PRICE: 40.00 DT </h1>
            </a>
            <form action="/add_to_cart" method="post">
                <input type="hidden" name="product_name" value="VITAMINS">
                <input type="hidden" name="product_price" value="40.00">
                <input type="hidden" name="product_image" value="{{ url_for('static', filename='p/vitamin.png') }}">
                <button type="submit" class="by">Add to Cart</button>
            </form>
       
    </div>

        <div>
            <a >
                <img src="{{ url_for('static', filename='p/vita1.png') }}" alt="whey Protein 2">
                <h1>Citrulline Malate</h1>
                <h1>PRICE: 150.00 DT </h1>
            </a>
            <form action="/add_to_cart" method="post">
                <input type="hidden" name="product_name" value="Citrulline Malate">
                <input type="hidden" name="product_price" value="150.00">
                <input type="hidden" name="product_image" value="{{ url_for('static', filename='p/vita1.png') }}">
                <button type="submit" class="by">Add to Cart</button>
            </form>
        </div>
        <div>
            <a >
                <img src="{{ url_for('static', filename='p/vita2.jpg') }}" alt="whey Protein 3">
                <h1>Pre Workout C4</h1>
                <h1>PRICE: 130,000 DT </h1>
            </a>
            <form action="/add_to_cart" method="post">
                <input type="hidden" name="product_name" value="Pre Workout C4">
                <input type="hidden" name="product_price" value="130.000">
                <input type="hidden" name="product_image" value="{{ url_for('static', filename='p/vita2.jpg') }}">
                <button type="submit" class="by">Add to Cart</button>
            </form>
        </div>
        <div>
            <a >
                <img src="{{ url_for('static', filename='p/vita3.png') }}" alt="whey Protein 4">
                <h1>BCAA Xplode Energie</h1>
                <h1>PRICE: 140.00 DT</h1>
            </a>
            <form action="/add_to_cart" method="post">
                <input type="hidden" name="product_name" value="BCAA Xplode Energie">
                <input type="hidden" name="product_price" value=" 140.00">
                <input type="hidden" name="product_image" value="{{ url_for('static', filename='p/vita3.png') }}">
                <button type="submit" class="by">Add to Cart</button>
            </form>
        </div>
        <div>
            <a >
                <img src="{{ url_for('static', filename='p/vita4.png') }}" alt="whey Protein 5">
                <h1>Marine Oméga 3</h1>
                <h1>PRICE: 75.00 DT</h1>
   
            </a>
            <form action="/add_to_cart" method="post">
                <input type="hidden" name="product_name" value="Marine Oméga 3">
                <input type="hidden" name="product_price" value="75.00">
                <input type="hidden" name="product_image" value="{{ url_for('static', filename='p/vita4.png') }}">
                <button type="submit" class="by">Add to Cart</button>
            </form>
        </div>
        <div>
            <a >
                <img src="{{ url_for('static', filename='p/vita5.webp') }}" alt="whey Protein 6">
                <h1>Godzilla Pre-Workout</h1>

            </a>
            <form action="/add_to_cart" method="post">
                <input type="hidden" name="product_name" value="Godzilla Pre-Workout">
                <input type="hidden" name="product_price" value="200.00">
                <input type="hidden" name="product_image" value="{{ url_for('static', filename='p/vita5.webp') }}">
                <button type="submit" class="by">Add to Cart</button>
            </form>
        </div>
    </div>
    
    <footer>
        <p>© 2024 LAZ NUTRITION</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://www.github.com/" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
    </footer>
</body>
</html>
